from .settings import *  # noqa

SECRET_KEY = 'i=plekfg;'lekrg'pekrg)(*+(jfjkdfj7c-m$'

INSTALLED_APPS = [
    *INSTALLED_APPS,
    'django_extensions',
]

DEBUG = True

ALLOWED_HOSTS = ['192.168.1.48', '127.0.0.1', '0.0.0.0']

DATABASES = {
    'default': {
        'HOST': '127.0.0.1',
        'NAME': 'charity_donation',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'USER': 'postgres',
        'PASSWORD': 'very_secret',
        'PORT': '5432'
    }
}
