{% extends 'pass_things_app/base.html' %}
{% load static %}
{% block title %}Zmień hasło{% endblock title %}
{% block content %}
    <header>
        {% include 'pass_things_app/menu.html' %}
    </header>

    <section class="login-page">
        <h2>Zmień hasło</h2>
        {% if not msg %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {% if field.errors %}
                            <ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Zmień hasło</button>
                    <a href="{% url 'edit_profile' %}" class="btn btn--without-border">Wróć</a>
                </div>
            </form>
        {% endif %}
        {% if msg %}
            <a href="{% url 'edit_profile' %}" class="btn btn--without-border"><p
                    style="color: red;">{{ msg }}</p><br>Wróć</a>
        {% endif %}
    </section>
    {% include 'pass_things_app/footer.html' %}
{% endblock content %}
