{% extends 'pass_things_app/base.html' %}
{% load static %}
{% block title %}Zmień hasło{% endblock title %}
{% block content %}
    <header>
        {% include 'pass_things_app/menu.html' %}
    </header>

    <section class="login-page">
        <h2>Zmień hasło</h2>
        {% if not msg %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group form-group--buttons">
                    <button class="btn" type="submit">Zmień hasło</button>
                    <a href="{% url 'edit_profile' %}" class="btn btn--without-border">Wróć</a>
                </div>
            </form>
        {% endif %}
        {% if msg %}
            <a href="{% url 'edit_profile' %}" class="btn btn--without-border"><p
                    style="color: red;">{{ msg }}</p><br>Wróć</a>
        {% endif %}
    </section>
{% endblock content %}
{% block scripts %}
    {{ block.super }}
    <script src="{% static 'pass_things_app/js/register_login.js' %}"></script>
{% endblock %}
