{% extends 'pass_things_app/base.html' %}
{% load static %}
{% block title %}Dziękujemy{% endblock title %}
{% block content %}
    <header class="header--form-page">

        {% include 'pass_things_app/menu.html' %}

        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    </header>
    {% include 'pass_things_app/footer.html' %}
{% endblock content %}
