{% extends 'pass_things_app/base.html' %}
{% load static %}
{% block title %}Profil{% endblock title %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pass_things_app/css/table.css' %}"/>
{% endblock %}
{% block content %}
    <header>
        {% include 'pass_things_app/menu.html' %}
    </header>
    <section class="login-page">
        <h2>Twój profil</h2>
        <div class="form-group">
            <h1 style="display: inline">Imię:</h1>
            <p class="btn btn--highlighted">{{ user.get_short_name }}</p>
        </div>
        <div class="form-group">
            <h1 style="display: inline">Nazwisko:</h1>
            <p class="btn btn--highlighted">{{ user.last_name }}</p>
        </div>
        <div class="form-group">
            <h1 style="display: inline">Email:</h1>
            <p class="btn btn--highlighted">{{ user.get_username }}</p>
        </div>
        {% if formset|length > 0 %}
            <h2>Przekazałeś</h2>
            <table class="tg form-group">
                <thead>
                <tr>
                    <th class="tg-0lax"><h1>Lp.</h1></th>
                    <th class="tg-0lax"><h1>Data</h1></th>
                    <th class="tg-0lax"><h1>Worków</h1></th>
                    <th class="tg-0lax"><h1>Dla</h1></th>
                    <th class="tg-0lax"><h1>Z kategorii</h1></th>
                    <th class="tg-0lax"><h1>Przekazane?</h1></th>
                </tr>
                </thead>
                <tbody>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.id }}
                        <tr>
                            <td class="tg-0lax">{{ forloop.counter }}</td>
                            <td class="tg-0lax">{{ form.pick_up_date.value }}</td>
                            <td class="tg-0lax">{{ form.quantity.value }}</td>
                            <td class="tg-0lax">
                                {% spaceless %}
                                    {% for i in form.institution.field.queryset %}
                                        {% if i.pk == form.institution.value %}
                                            {{ i.name }}
                                        {% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                            </td>
                            <td class="tg-0lax">
                                {% for category_pk in form.categories.value %}
                                    {% for category in form.categories.field.queryset %}
                                        {% if category_pk == category.pk %}
                                            {% if not forloop.parentloop.counter == form.categories.value|length %}
                                                {{ category.name|add:', ' }}
                                            {% else %}
                                                {{ category.name }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                            <td class="tg-0lax">
                                <label>
                                    <input type="radio"
                                           name="form-{{ forloop.counter0 }}-is_taken"
                                           value="true"
                                           {% if form.is_taken.value is True %}checked{% endif %}>
                                    Tak</label>

                                <label>
                                    <input type="radio"
                                           name="form-{{ forloop.counter0 }}-is_taken"
                                           value="false"
                                           {% if form.is_taken.value is False %}checked{% endif %}>
                                    Nie</label>

                                <label>
                                    <input type="radio"
                                           name="form-{{ forloop.counter0 }}-is_taken"
                                           value="unknown"
                                           {% if form.is_taken.value is None %}checked{% endif %}>
                                    Brak informacji</label>
                                <button type="submit">zmień</button>
                            </td>
                        </tr>
                    {% endfor %}
                </form>
                </tbody>
            </table>
        {% endif %}
    </section>
{% endblock content %}
