{% extends 'pass_things_app/base.html' %}
{% load static %}
{% block title %}Załóż konto{% endblock title %}
{% block content %}
    <header>
        {% include 'pass_things_app/menu.html' %}
    </header>

    <section class="login-page">
        <h2>Załóż konto</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
                <button class="btn" type="submit">Załóż konto</button>
            </div>
        </form>
    </section>
    {% include 'pass_things_app/footer.html' %}
{% endblock content %}
